.demo {
  position:relative;  
  width : 600px;
  height : 300px; 
  background-color: #aeaeae; 
  margin-top:40px;
  margin-left:0px;
}

.demo a {
  text-decoration: none !important;
  color: white;
  height:100%;
  width:100%;
}

.demo a.visited {
  color:white;
}

.demo #content1 {
  background-color: rgb(255, 244, 220);
  padding:30px;
  font-weight:600;
  border: 1px solid #aeaeae;
  border-top:none;
}

.autocompletedemoCustomTemplate .autocomplete-custom-templte li {

  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}
.autocompletedemoCustomTemplte .autocomplete-custom-template li:last-child {
  border-bottom-width: 0;
}
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title ,
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 18px;
}
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px;
}